$blue: #1565c0;
$blue-light: #3b83d5;
$black:rgba(0, 0, 0, 1.0);
$white:rgba(255, 255, 255, 1.0);
$grey:rgba(165, 165, 165, 1.0);
$grey-light: lighten($grey, 5%);
$grey-dark: darken($grey, 10%);

$color-one:rgba(255, 153, 255, 1);
$color-one-dark: darken($color-one, 5%);
$color-one-light: lighten($color-one, 5%);
$color-two:rgba(208, 183, 168, 1.0);
$color-two-dark: darken($color-two, 5%);
$color-two-light: lighten($color-two, 5%);





